.highlight{
    background-color: blueviolet;
    color: brown;
}
/* .container-fluid{
    background-color: rgb(62, 180, 62);
} */
.navbar-style{
    background-color: rgb(123, 52, 86) !important;
}
.cyan-highlighted{
    color: lightsalmon !important; 
    font-size: 40px;
}
.lavender-highlighted{
    color: #967bb6 !important;
    font-size: 25px;
}
.default-highlighted{
    background-color: honeydew !important;
    font-size: 20px;
}
.total{
    font-size: 25px;
    color: blueviolet ;
}

.hand-icon{
    cursor: pointer;
}